<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>不気味な廃校からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/アートボード 6.png" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/Unknown9.png" alt="不気味な廃校からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：1</span>さぁゲームを始めよう！</h2>
            <p class="text-center">この画像の謎を解き、答えを入力しよう。</p>
            <p class="text-center">困ったときは、ヒントがある。なるべく見ないように脱出を目指そう。</p>
  
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/iOS の画像-4.png" alt="不気味な廃校からの脱出">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：1</span>謎の答えを入力</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

            <a class="link-hint" href="hint1.html" target="hint1">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：１  正解！</div>
              <div class="clear-message__content">友達と連絡が取れるようになった<br>
                まず連絡が取れたのは友達の『みか』と『たくろう』だ。<br>
                居場所を聞いたら自分たちがどこにいるのか、なぜ此処にいるかわからないと言われた。<br>
              とりあえずその場所にあるものを何個か言ってもらいそこが理科室とわかった。<br>
              急いで理科室へ向かい、二人の顔を見て一安心し教室に一歩踏み入れると、<br>
              いきなり扉が閉まり3人とも閉じ込められてしまった！<br>
              その瞬間、教室内にシューと音がなり謎の気体が充満し始めた。<br>
              びっくりして急いで外に出ようとドアに近づいた時に...</div>
              <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage1']" id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span>貼り紙の謎を解け！</h2>
              <p class="text-center"><br>
                教室のドアに紙が貼ってあることに気がついた。<br>
                そこには「毒ガスが充満する前に謎の答えを紙に書き、正解しろ。さもなくばお前と友達は死ぬことになる」<br>
                教室には筆記用具等の文字をかけるものはなく理科特有の実験道具だけだった。
                とりあえず死ぬことだけは避けたい主人公たちは謎を解くことにした...</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：2</span>謎の答えを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE2-1　ここから -->
                <div class="column">
                  <!-- STAGE2-1問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/iOS の画像-5.png" alt="">
                  </figure>
                  <!-- STAGE2-1問題セクション　ここまで -->
                  <!-- STAGE2-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                  <!-- STAGE2-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE2-1　ここまで -->

<!-- STAGE2-2 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q2']" v-on:answer-input="answerInput($event, 'stage2', 2)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                　
                </div>

2-2追加ここまで -->
                  
<!-- STAGE2-3 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q3']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>

                </div>

2-3追加ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE2クリア画面　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2　正解！</div>
              <div class="clear-message__content">扉が開き、なんとか生き延びることができた。<br>
                次はまだ見つかってない友達の『たけし』と『ひろし』を探しに行こう。<br>
              扉が開くと同時に連絡がつくようになっていたが、聞いてみると、どうやら身動きが取れないらしい...<br>
              2人にヒントをもらいながら探索をした結果合流することはできたが、家庭科室で手足を縛られ拘束されており、<br>
              座っている床には大量の油が振り撒かれ、少しでも火を近づけたら、数少ない友達が火の海の中に消えてしまう...！</div>
                <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->

      <!-- STAGE3　ここから -->
      <div v-if="next['stage2']" id="sectionStage3" class="stage">

        <!-- STAGE3-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：3</span>たけし、ひろしの救出</h2>
            <p class="text-center">この謎を解き、二人を救出しよう！<br>
              謎がある紙には「間違えるたびに炎を落とし、貴様の友人を焼く」と書いてある<br>
              今回は時間制限はなさそうだ、慎重に謎を解こう</p>
            <figure class="image__container">
              <img src="assets/images/Unknown7.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE3-1問題セクション　ここまで -->

        <!-- STAGE3-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>謎の答えを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE3-1解答入力セクション　ここまで -->

<!-- STAGE3-2問題セクション を追加

          <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>
            <answer-input v-bind:correct="correctAnswer['stage3']['q2']" v-on:answer-input="answerInput($event, 'stage3', 2, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
      　　
STAGE3-2追加ここまで -->

          
<!-- STAGE3-3問題セクション　を追加
        <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>

            <answer-input v-bind:correct="correctAnswer['stage3']['q3']" v-on:answer-input="answerInput($event, 'stage3', 1, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>

STAGE3-3追加　ここまで -->

          
       </div><!-- /.row -->



        <!-- STAGE3クリア画面　ここから -->
        <section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：3　正解！</div>
              <div class="clear-message__content">縄が解け、二人を救出できた！<br>
              ふと足元を見ると、見覚えのない紙が落ちていた。<br>
              立ち上がったときにたけしのポケットから落ちたようだ。<br>
              紙には新しい謎と共に「この謎によって私の正体がわかるだろう」と書いてあった！<br>
              脱出に少しでも近づくために、主人公たちを閉じ込めた犯人の正体を暴こう！</div>
                <button v-on:click="nextStage('stage3')" onclick="location.href='#sectionStage4'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE3クリア画面　ここまで -->
      
      <!-- STAGE3　ここまで -->
     
      <!-- STAGE4　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage3']" id="sectionStage4" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：4</span>犯人の正体を暴こう！</h2>
              <p class="text-center"><br>
                自分たちを閉じ込めた犯人の正体を暴き、<br>
                廃校からの脱出を目指そう！</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：4</span>謎の答えを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE4-1　ここから -->
                <div class="column">
                  <!-- STAGE4-1問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/Unknown8.png" alt="">
                  </figure>
                  <!-- STAGE4-1問題セクション　ここまで -->
                  
                  <!-- STAGE4-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage4']['q1']" v-on:answer-input="answerInput($event, 'stage4', 1)"></answer-input>
                  <a class="link-hint" href="hint4.html" target="hint4">ヒントをみる ></a>
                  <!-- STAGE4-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE4-1　ここまで -->

<!-- STAGE4-2 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage4']['q3']" v-on:answer-input="answerInput($event, 'stage4', 2)"></answer-input>
                  <a class="link-hint" href="hint4.html" target="hint4">ヒントをみる ></a>
                　
                </div>

4-2追加ここまで -->
                  
<!-- STAGE4-3 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage4']['q3']" v-on:answer-input="answerInput($event, 'stage4', 3)"></answer-input>
                  <a class="link-hint" href="hint4.html" target="hint4">ヒントをみる ></a>

                </div>

4-3追加ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>
        <!-- STAGE4クリア画面　ここから -->
        <section v-if="clear['stage4']" v-bind:class="{isClear:clear['stage4']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：4　正解！</div>
              <div class="clear-message__content">謎の答えがわかった。<br>
              なんと自分たちを閉じ込めたのは「GHOST」つまり幽霊だった！<br>
              どうしようかと慌てていると犯人と思しき幽霊が現れた！<br>
              今すぐ逃げたいが幽霊に逃げ道が塞がれていて逃げることができない。<br>
              なんとか倒して廃校から脱出したいが幽霊に攻撃は効かない...どうする！？</div>
                <button v-on:click="nextStage('stage4')" onclick="location.href='#sectionStage5'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE4クリア画面　ここまで -->
            </div>      
      <!-- STAGE4　ここまで -->
        
      <!-- STAGE5　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage4']" id="sectionStage5" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：5</span>犯人を倒そう！</h2>
              <p class="text-center"><br>
                幽霊をどうするかみんなで考えていると主人公のポケットから謎の紙が出てきた。<br>
                なんの謎かはわからないが、どうすればいいかわからない以上は解いてみるしかない！</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：5</span>謎の答えを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE5-1　ここから -->
                <div class="column">
                  <!-- STAGE5-1問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/iOS の画像-7.png" alt="">
                  </figure>
                  <!-- STAGE5-1問題セクション　ここまで -->
                  
                  <!-- STAGE5-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage5']['q1']" v-on:answer-input="answerInput($event, 'stage5', 1)"></answer-input>
                  <a class="link-hint" href="hint5.html" target="hint5">ヒントをみる ></a>
                  <!-- STAGE5-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE5-1　ここまで -->

<!-- STAGE5-2 を追加
                <div class="column">
                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>
                  <answer-input v-bind:correct="correctAnswer['stage5']['q3']" v-on:answer-input="answerInput($event, 'stage5', 2)"></answer-input>
                  <a class="link-hint" href="hint5.html" target="hint5">ヒントをみる ></a>
                　
                </div>
5-2追加ここまで -->
                  
<!-- STAGE5-3 を追加
                <div class="column">
                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>
                  <answer-input v-bind:correct="correctAnswer['stage5']['q3']" v-on:answer-input="answerInput($event, 'stage5', 3)"></answer-input>
                  <a class="link-hint" href="hint5.html" target="hint5">ヒントをみる ></a>
                </div>
5-3追加ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE5クリア画面　ここから -->
        <section v-if="clear['stage5']" v-bind:class="{isClear:clear['stage5']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：5　正解！</div>
              <div class="clear-message__content">そうか！FLASH！光だ！<br>
              主人公含む5人は一斉にスマホのライトを幽霊に向けた。<br>
              幽霊が徐々に消えていく...効果があるようだ！<br>
              そうしている内に幽霊は完全に消えてしまった。<br>
              自分たちを何度も危険な目に合わせてきた悪霊だったが、あっけなく消えてしまい、なんとなく虚しい気持ちになった...<br>
              しかし落ち込んでいる暇はないと思い、急いで主人公が来た道を戻っていったが、、、</div>
                <button v-on:click="nextStage('stage5')" onclick="location.href='#sectionStage6'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE5クリア画面　ここまで -->
      </div>
      <!-- STAGE5　ここまで -->
      
      <!-- STAGE6　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage5']" id="sectionStage6" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：6</span>最後の謎を解き、廃校から脱出しよう！</h2>
              <p class="text-center"><br>
                入ってきたときには気づかなかったが、脱出口にも謎が書かれていた！<br>
                正真正銘最後の謎を解き、閉ざされた廃校の門を開こう！</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：6</span>謎の答えを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE6-1　ここから -->
                <div class="column">
                  <!-- STAGE6-1問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/iOS の画像-5.png" alt="">
                  </figure>
                  <!-- STAGE6-1問題セクション　ここまで -->
                  
                  <!-- STAGE6-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage6']['q1']" v-on:answer-input="answerInput($event, 'stage6', 1, 'final')"></answer-input>
                  <a class="link-hint" href="hint6.html" target="hint6">ヒントをみる ></a>
                  <!-- STAGE6-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE6-1　ここまで -->


              </div><!-- /.row -->


      <!-- STAGE6　ここまで -->
    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
